@media screen and (max-width: 1500px) {
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }
    .logo {
        font-size: 2rem;
    }
}
@media screen and (max-width: 1100px) {
    .hero {
        height: unset;
        padding-bottom: 2rem;
    }
    .logo {
        font-size: 1.5rem;
    }
    .hero .section__container {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .hero .section__text {
        text-align: center;
    }
    .section__pic-container {
        width: 45vw;
        height: 45vw;
    }

    .grid__wrapper a {
        width: 100%;
        margin: 1rem 0;
    }

    #portfolio .section__container {
        width: 90%;
    }
}