/* GENERAL STYLES */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
html {
    scroll-behavior: smooth;
    font-size: 20px;
}
body {
    background-color: #d9f3ff;
}
p {
    color: #21374e;
    line-height: 1.5rem;
}
:root {
    --theme-width: 75%;
}
/* TRANSITION */
a, .btn {
    transition: all 350ms ease-in-out;
}

/* DESKTOP NAV */
nav, .nav-content, .nav-links {
    display: flex;
}
nav {
    justify-content: center;
    align-items: center;
    height: 18vh;
    width: 100vw;
}
.nav-content {
    width: var(--theme-width);
    justify-content: space-between;
}
.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: rgb(173, 173, 173);
}

.logo {
    font-size: 2.5rem;
    cursor: pointer;
}

/* HAMBURGER MENU */
#hamburger-nav {
    display: none;
}
.hamburger-menu {
    position: relative;
    display: inline-block;
}
.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 350ms ease-in-out;
}
.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: 50vw;
    max-height: 0;
    overflow: hidden;
    transition: all 350ms ease-in-out;
}
.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 350ms ease-in-out;
}
.menu-links a:hover {
    color: rgb(173, 173, 173);
}
.menu-links li {
    list-style: none;
}
.menu-links.open {
    max-height: 300px;
}
.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(0, 15px);
}
.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}
.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(0, -15px);
}
.hamburger-icon span:first-child,
.hamburger-icon span:last-child {
    transform: none;
}
.hamburger-icon span:nth-child(2) {
    opacity: 1;
}

/* SECTIONS */
section {
    padding-top: 4vh;
    min-height: fit-content;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 0;
}
section>h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}
section.alt-section {
    background-color: #793432;
    color: white;
}
section.alt-section * {
    color: white;
}
.section__container {
    display: flex;
    width: var(--theme-width);
    gap: 5rem;
}
.hero {
    height: 70vh;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.section__pic-container {
    display: flex;
    height: 31vw;
    width: 31vw;
    margin: auto 0;
}
.section__text {
    flex-grow: 1;
    align-self: center;
    text-align: right;
}
.section__text-p1 {
    font-size: 1.75rem;
}
.section__text-p2 {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-weight: 800;
    font-style: italic;
    color: #793432;
}
.hero__title {
    font-size: 4rem;
    color: #21374e;
}
.section__text-main {
    text-align: justify;
    margin-bottom: 1rem;
}
button.btn {
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    background-color: #793432;
    color: white;
    font-size: 1.25rem;
}
button.btn:hover {
    background-color: white;
    color: #793432;
}
.grid__wrapper {
    font-size: 0;
    width: 100%;
}
.grid__wrapper a {
    display: inline-block;
    width: 50%;
    height: 40vh;
    position: relative;
}
.grid__wrapper a img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.grid__wrapper a::before,
.grid__wrapper a::after {
    width: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity 350ms ease-in-out;
}
.grid__wrapper a::before {
    content: '';
    height: 100%;
    background: rgba(121, 52, 50, 0.7);
}
.grid__wrapper a::after {
    content: attr(data-title);
    font-size: 24px;
    top: calc(50% - 0.5em);
    left: 0;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-weight: 800;
}
.grid__wrapper a:hover::before,
.grid__wrapper a:hover::after {
    opacity: 1;
}