@import url('https://fonts.googleapis.com/css2?family=Halant:wght@300;400;500;600;700&family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap');

// COLORS
$white-hex: #ffffff;
$grey-hex: #e5e5e5;
$yellow-hex: #fca311;
$navy-hex: #14213d;
$black-hex: #000000;

// FONTS
$serif: 'Halant', serif;
$sans-serif: 'Nunito Sans', sans-serif;